/* common shared style */
body {
  font-family: "Work Sans", serif;
  font-style: normal;
}

.primary-text {
  color: #FD6E0A;
}

.primary-button {
  border-radius: 5px;
  background: #FD6E0A;
  border: 0;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
}

/* nav related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav>ul {
  display: flex;
  align-items: center
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header reletade style */
.header {
  background-color: #FFF8F3;
}

.banner {
  display: flex;
  padding: 30px 30px 30px 150px;
  align-items: center;
}
.profile-picture {
  width: 500px;
}