/* common shared style */
body {
  font-family: "Work Sans", serif;
  font-style: normal;
}

.primary-text {
  color: #FD6E0A;
}

.primary-button {
  border-radius: 5px;
  background: #FD6E0A;
  border: 0;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* nav related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav>ul {
  display: flex;
  align-items: center
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header reletade style */
.header {
  background-color: #FFF8F3;
  background-image: url(../assect/pictures/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  display: flex;
  padding: 30px 30px 0px 200px;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 500px;
}

.profile-picture {
  width: 500px;
}

.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}

.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-description {
  padding-bottom: 10px;
  color: #757575;
}

.contact-btn {
  color: #FD6E0A;
  background-color: #FFF;
  border: #FD6E0A 1px solid;
}

/* main section style */

main {
  max-width: 1140px;
  margin: 0px auto;
}

/* about section style */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #FFF8F3;
  margin: 130px 0px;
}

.bg-color {
  background-color: #FFF;
  border-radius: 5px;
  border: #181818 1px solid;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info {
  text-align: center;
}

/* what i do related stlye */

.skill-container {
  display: flex;
  gap: 24px;
}

.skill {
  padding: 30px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding-right: 30px;
  margin-bottom: 120px;
}

#what-i-do-description {
  padding: 30px 150px;
}

.skill-description {
  color: #474747;
}

/* resume part */

.resume-container {
  display: flex;
  padding-top: 80px;
}

.resume-box {
  padding: 25px;
}

.resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.resume-heading {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}

.institution {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}

.resume-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}

.cv-btn {
  margin-left: 40%;
}

/* footer relatade */

.footer-section {
  display: flex;
  gap: 100px;
  background: #FFF8F3;
  padding: 130px 230px;
  margin-top: 100px;
}

.social-link a {
  margin-right: 10px;
}

.footer-description {
  text-align: left;
}

.footer-column {
  width: 50%;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
  display: flex;
  margin-bottom: 25px;
  padding: 18px 35px;
  font-size: 15px;
  color: #757575;
  border: 0;
  background: #FFF;
  width: 100%;
}

/* responsive style */

.hide {
  display: none;
}

/* for small device */

@media screen and (max-width: 576px) {
  .skill-container {
    flex-direction: column;
  }
  #what-i-do-description {
    padding: 20px;
  }
}